.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #828282;
  }
  
  .logo {
    color: #61dafb;
    font-size: 1.5rem;
  }

  .logo-image {
    width: 150px;
    height: auto;
    margin-left: 20%;
  }
  
  nav button {
    width: 120px;
    font-size: 0.7rem;
    margin-right: 20px;
    background-color: transparent ;
    color: white;
    border: 1px solid white;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav button:hover {
    background-color: black; 
    border-color: #2271D1;
    color: #2271D1; /* Cambia el color del texto al pasar el cursor */
  }