.banner {
  
  color: white;
  padding: 40px 20px;
  margin: 0; /* Asegura que no haya márgenes alrededor del banner */
  width: 100vw; /* Abarca todo el ancho de la ventana */
  height: 40vh; /* Abarca toda la altura del banner */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  z-index: 0; /* Asegura que la imagen de fondo esté detrás de todo */
}

.banner-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
}

.banner-content {
  position: relative; /* Asegura que el contenido se coloque sobre la imagen de fondo */
  z-index: 1; /* Coloca el contenido por encima de la imagen de fondo */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.banner-text {
  flex: 1;
  margin-right: 20px;
  text-align: left; 
  padding: 10px; 
  border-radius: 8px; 
}

.banner-text h2.front {
  background-color: #6BD1FF;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}


.banner-text h2 {
  margin-bottom: 10px;
  text-align: left;
}

.banner-text p {
  margin-bottom: 0;
  text-align: left;
}



.banner-image img {
  width: 80%;
  height: auto;
  border-radius: 13px;
  box-shadow: 0 0 5px 5px #318bf8 ;
}
